/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
     padding: 20px 60px;
     margin:0;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  text-align: center;
  height: 500px;
}

header h1 {
  font-weight: 800;
  font-size: 24px;
  text-align: left;
  color: #FFF;
}

h2 {
  font-weight: 600;
  font-size: 24px;
  color: #FFF;
  text-align: center;
  margin-top: 80px;
}

.button {
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: #121212;
  background-color: #f9e42e;
  padding: 6px 40px;
  border-radius: 5px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.benefits {
  background-color: #f0efef;
  height: 300px;
  width: 100vw;
  padding-top: 50px;
  padding-left: 60px;
  margin-left: -60px;
  display: block;
}

.benefits h3 {
  font-weight: 600;
  font-size: 20px;
  color: #033048;
}

p {
  margin-top: 10px;
  margin-right: 200px;
  font-weight: 300;
  font-size: 13px;
  color: #606161;
}

.benefits ul {
  margin-top: 20px;
  font-size: 13px;
}

.benefits li {
  color: #606161;
  margin-top: 5px;
  margin-left: 50px;
  margin-right:200px;
}

.testimonial {
  height: 394px;
  background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
  margin-left: -60px;
  background-size: cover;
  width: 100vw;
}

blockquote {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  padding: 100px 250px;
}

span {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding-left: auto;
  padding-right: auto;
}

.stripe {
  height: 80px;
  background-color: #f9e42e;
  display: block;
  width: 100vw;
  margin-left: -60px;
}

.button .sign-up {
  text-align: center;
  margin: auto;
}

footer h1 {
  padding-top: 40px;
}

footer {
  text-align: center;
  background-color: #121212;
  height: 250px;
  margin: 0;
  width: 100vw;
  margin-left: -60px;
}

footer ul {
  margin-top: 20px;
}

footer li {
  display: inline-block;
}

li a img {
  height: 20px;
  margin: 10px;
}

footer h1 {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  color: #f9e42e;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
